@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Regular'), local('OpenSansRegular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Bold'), local('OpenSansBold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans SemiBold'), local('OpenSansSemiBold'),
    url('../fonts/OpenSansSemi-Bold.woff2') format('woff2'),
		url('../fonts/OpenSansSemi-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Semibold'), local('OpenSansSemiBold'),
    url('../fonts/OpenSansSemibold.woff2') format('woff2'),
		url('../fonts/OpenSansSemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Italic'), local('OpenSansItalic'),
    url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  text-align: center;
  font-weight: 700;
  color: var(--color-primary-text);
  background-color: var(--color-primary-controls);
  transition: background-color .5s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-title {
  margin-top: 0;
}

.site-descr {
  margin-top: 0;
}

/* header* */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: #000;
}

.header__nav {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: #fff;
}

/* hero */
.hero__container {
  background-image: url(../img/bg-hero-slider1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.hero__content {
 padding-top: 30px;
 padding-bottom: 45px;
 color: #fff;
}

/* about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__descr {
  margin-bottom: 0;
}

/* gallery */
.gallery {
  background-image: url(../img/bg-gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.gallery__title {
  color: #fff;
}

.gallery__filter-legend {
  color: #fff;
}

.gallery__filter-checkbox {
  display: flex;
  flex-direction: column;
}

.gallery__filter-period {
  color: #fff;
}

.slide__image {
  height: 100%;
  object-fit: cover;
}

.gallery__slide-numer {
  color: #fff;
}

/* catalog */

/* events */

/* contacts */
.contacts__container {
  padding: 0;
}

.contacts__container-padding {
  padding: 0 15px;
}

.messengers__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.messengers__link--whatsapp {
  background-image: url(../img/Whatsapp-Icon.svg);
}

.messengers__link--telegram {
  background-image: url(../img/Telegram-icon.svg);
}

.contacts__map {

}

[class*=ground-pane] {
  filter: grayscale(1);
}

/* footer */
.footer {
  background-color: #000;
}
