@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Italic'), local('OpenSansItalic'),
    url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff');
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Regular'), local('OpenSansRegular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Bold'), local('OpenSansBold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans SemiBold'), local('OpenSansSemiBold'),
    url('../fonts/OpenSansSemi-Bold.woff2') format('woff2'),
		url('../fonts/OpenSansSemi-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans Semibold'), local('OpenSansSemiBold'),
    url('../fonts/OpenSansSemibold.woff2') format('woff2'),
		url('../fonts/OpenSansSemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  text-align: center;
  font-weight: 700;
  color: var(--color-primary-text);
  background-color: var(--color-primary-controls);
  transition: background-color .5s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: none;
  /* max-width: 1800px;

  padding: 0 15px;
  margin: 0 auto; */
}

.site-title {
  margin-top: 0;
}

.site-caption {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.site-descr {
  margin-top: 0;
}

.site-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

/* header* */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: #000;
}

.header__burger--active {
  opacity: 0;
}

.header__burger--sm {
  display: none;
}

.header__search--sm {
  display: none;
}

.header__search--lg {
  display: none;
}

.stop-scroll {
  overflow: hidden;
}

.header__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1000;
  padding: 15px;
  box-shadow: 0 0 5px rgb(101, 139, 76);
  background: rgba(0, 0, 0, .9);
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibiliti .3 ease-in-out, transform .3s ease-in-out;
}

.header__nav .nav__list {
  flex-direction: column;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 18px;
}

.header__nav .nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.header__nav--active {
  visibility: visible;
  transform: none;
}

.nav__close {
  display: inline-block;
  margin-bottom: 16px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_136320_4417)'%3E%3Crect width='19.2824' height='1.92824' transform='matrix(0.707093 0.707121 -0.707093 0.707121 1.36523 0.00152588)' fill='white'/%3E%3Crect width='19.2824' height='1.92824' transform='matrix(0.707093 -0.707121 0.707093 0.707121 0 13.6365)' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136320_4417'%3E%3Crect width='15' height='14.9985' fill='white' transform='translate(0 0.00152588)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: #fff;
}

.nav-inner__btn-entrance {
  padding: 11px 31px;
  border-radius: 100px;
  border: 2px solid #9d5cd0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.logo__image {
  width: 96px;
  height: 21px;
}

/* hero */
.hero__container {
  display: flex;
  justify-content: center;
}

.hero__swiper {
  height: 355px;
}

/* .hero__swiper-slide {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
} */

.hero__slide {
  width: 100%;
  height: 355px;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.hero__swiper-btn {
  display: none;
}

/* .hero__container {
  background-image: url(../img/bg-hero-slider1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
} */

.hero__swiper-button-prev, .hero__swiper-button-next {
  z-index: 100;
}

.hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 45px;
  color: #fff;
}

.hero__title {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.hero__descr {
  max-width: 265px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.hero__btn {
  padding: 11px 16px 14px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #9d5cd0;
}

/* about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {

}

.about__descr {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 28px;
  color: #333;
}

/* gallery */
.gallery {
  background-image: url(../img/bg-gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.gallery__container {
  min-height: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery__title {
  margin-bottom: 12px;
  color: #fff;
}

.form__filter-part {
  margin: 0;
  padding: 0;
  border: none;
}

.form__filter-legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

/* select */
.choices__inner {
  border-radius: 6px;
  padding: 0;
  padding-left: 16px;
}

.choices__item {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.choices__inner {
  min-width: 176px;
  min-height: 40px;
  box-shadow: 0 0 1px rgb(0 0 0 / 80%);
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}

.is-open .choices__inner {
  border: 1px solid #fff!important;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.choices[data-type*=select-one]::after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  margin-top: -1px;
  padding-right: 18px;
  width: 10px;
  height: 7px;
  border-style: none;
  z-index: 10;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -1px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999995 6L6 0.999997L11 6' stroke='white'/%3E%3C/svg%3E%0A");
}

.choices {
  display: flex;
  min-width: 176px;
}

.choices__list--dropdown {
  border-bottom: 6px;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 19px;
  padding-left: 19px;
}

.is-open .choices__inner {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-radius: 6px;
  border: 1px solid #fff!important;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-image: url(../img/bg-gallery.jpg);
  background-position: 34% 75%;
  z-index: 20;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #fff;
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
}

.choices__list--dropdown {
  padding-top: 0;
}

/* checkbox */
.form__filter-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.form__filter-checkbox span {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.form__filter-checkbox span::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}

.form__filter-checkbox span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0;
}

.form__filter-checkbox input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

/* slides */
.swiper-slide__image{
  height: 367px;
  object-fit: cover;
}

.gallery__swiper {
  position: relative;
  margin: 0 auto;
}

.gallery__swiper-slide {
  display: flex;
  justify-content: center;
}

.gallery__swiper-btn:after, .gallery__swiper-btn:after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 20px;
  padding: 18px;
  color: #fff;
  background-color: #666;
}

.swiper-pagination {
  position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px;
  color: #fff;
}

.gallery__button-prev {
  left: 72px;
}

.gallery__button-next {
  right: 72px;
}

.gallery__swiper-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 20px;
}

/* .slide__image {
  height: 100%;
  object-fit: cover;
} */

/* catalog */
.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accordion-list {
  margin-bottom: 50px;
}

.accordion__content {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.accordion__heading {
  margin: 0;
}

.catalog__subtitle {
  display: flex;
  transition: color .5s;
}

.catalog__item {
  position: relative;
  margin-top: -1px;
  padding: 20px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  transition: border-color .5s;
}

.catalog__item:first-child {
  border-color: #cacaca;
}

.catalog__item:hover {
  border-color: #9d5cd0;
}

.catalog__item:hover .accordion__heading button {
  color: #9d5cd0;
}

.catalog__item svg circle,
.catalog__item svg path {
  transition: fill .5s;
}

.catalog__item:hover svg circle {
  fill: #d1a9f0;
}

.catalog__item:hover svg path {
  fill: #d1a9f0;
}

.accordion__name-box--icon {
  padding-top: 20px;
}

.accordion__container-flex {
  display: flex;
}

.ac-descr {
  display: inline-block;
  line-height: 22px;
}

.accordion__content-box {
  margin-left: 25px;
}


.ac-caption {
  margin-bottom: 5px;
}

.accordion__name-box {
  margin-top: 20px;
  border-top: 1px solid #9d5cd0;
}

.ac-text {
  max-width: 80%;
  margin: 20px 0;
  margin-bottom: 0;
  line-height: 32px;
}

.ac-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9d5cd0;
}

.accordion__content-chronology {
  display: flex;
}

/* .catalog__item--open svg {
  transform: rotate(180deg);
}  */

.card-artist__conteiner-content {
  margin-top: 20px;
}

.card-artist__name {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.card-artist__lifespan {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.card-artist__career {
  margin-bottom: 0;
  line-height: 32px;
}

/* events */
.events__title {
  padding-bottom: 12px;
}

.card-preview__container-content {
  border: 1px solid #cacaca;
  padding: 0 23px 49px;
  padding-top: 17px;
}

.card-preview__location {
  display: flex;
  max-width: 141px;
  margin-left: auto;
  text-align: right;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.card-preview__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.card-preview__descr {
  margin-bottom: 80px;
  line-height: 32px;
}

.card-preview__link {
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid #9d5cd0;
  color: #9d5cd0;
}

.card-preview__swiper {
  width: 100%;
  height: 100%;
}

.card-preview__swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #666;
  width: 10px;
  height: 10px;
  margin: 0 7px;
}

.card-preview__swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* projects */
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects__title {
  margin-bottom: 20px;
}

.projects__desct {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.projects__link-info {
  display: inline-block;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #9d5cd0;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #000;
}

.projects__link {
  color: #9d5cd0;
}

.projects__title-partners {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.projects__swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projects__btn {
  top: 63%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-repeat: no-repeat;
  color: #000;
  background-color: #ececec;
}

.projects__swiper-button-prev:after, .projects__swiper-button-next:after {
  font-size: 10px;
}

.projects__swiper-button-prev, .swiper-rtl .projects__swiper-button-next {
  left: 0;
}

.projects__swiper-button-next, .swiper-rtl .projects__swiper-button-prev {
  right: 0;
}

.projects__swiper-wrapper {
  width: 195px;
  margin: 0 18px;
}

.projects__swiper-slide {
  min-height: 65px;
  background-size: 195px 65px;
  background-repeat: no-repeat;
}

/* contacts */
.contacts__container {
  padding: 0;
}

.contacts__container-padding {
  padding: 0 15px;
}

.contacts__caption {
  display:block;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.contacts__location {
  font-style: normal;
}

.contacts__address {
  margin-bottom: 20px;
}

.form__contaiher-flex{
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #333;
  margin-bottom: 20px;
}

.contacts__btn {
  display: flex;
  justify-content: flex-start;
  padding: 10px 31px;
  border-radius: 100px;
  border: 2px solid #9d5cd0;
  color: #9d5cd0;
}

.contacts__form {
  margin-bottom: 20px;
}

.contacts__messengers {
  margin-bottom: 20px;
}

.messengers__text {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 32px;
}

.messengers__list {
  display: flex;
  flex-direction: row;
}

.messengers__item {
  padding-right: 21px;
}

.messengers__item:last-child {
  padding-right: 0;
}

.messengers__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.messengers__link--whatsapp {
  background-image: url(../img/Whatsapp-Icon.svg);
}

.messengers__link--telegram {
  background-image: url(../img/Telegram-icon.svg);
}

.map {
  background-color: #ececec;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

/* footer */
.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.social {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.social__item {
  padding-right: 30px;
}

.social__item:last-child {
  padding-right: 0;
}

@media(min-width: 498px) {
 .hero__content {
   padding: 50px 50px;
 }
}

@media(min-width: 576px) {
 .container {
   padding-left: 50px;
   padding-right: 50px;
  }

  .gallery__container-bootstrap {
    padding-left: 12px;
    padding-right: 12px;
  }

  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery__swiper-box {
    margin-top: 0;
    margin-bottom: 28px;
  }
}

@media(min-width: 768px) {
  .site-caption {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }

  .site-descr {
    font-size: 16px;
    line-height: 32px;
  }

  .header__container {
    min-height: 100px;
  }

  .logo__image {
    width: 187px;
    height: 42px;
  }

  .header__burger--mobil {
    display: none;
  }

  .header__search--mobil {
    display: none;
  }

  .header__burger--sm {
    display: block;
  }

  .header__search--sm {
    display: block;
  }

  .header__search--lg {
    display: none;
  }

  .header__nav {
    padding: 50px;
  }

  .hero__swiper {
    height: 768px;
  }

  .hero__slide {
    height: 768px;
  }

  .hero__content {
    min-height: 630px;
    align-items: flex-start;
    padding-top: 110px;
    justify-content: space-between;
  }

  .hero__title {
    font-size: 72px;
    line-height: 98px;
    text-align: left;
  }

  .hero__descr {
    max-width: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }

  .hero__btn {
    padding: 22px 35px;
    font-size: 18px;
    line-height: 25px;
  }

  /* about */
  .about__container {
    padding-left: 38px;
    padding-right: 38px;
  }

  .about__descr {

  }
}

@media(min-width: 992px) {
  .header__search--sm {
    display: none;
  }

  .header__search--lg {
    display: block;
  }
}

@media(min-width: 1200px) {

}
